<p-dialog 
  [modal]="true" 
  [visible]="visible" 
  (visibleChange)="onVisibleChange($event)"
  [style]="{ width: '55rem', 'background-color': 'var(--background-color)', 'border-color': 'var(--gray-default-color)' }" 
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
  draggable="false"
> 
    <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-between w-full">
          <span class="text-2xl text-white font-medium">Organization Setup</span>
        </div>
      </ng-template>
      <p class="text-[var(--gray-text-color)]">Organizations help you manage teams and collaborate on projects</p>

      <app-custom-tabs [tabs]="['overview', 'create', 'join']" [activeTab]="activeTab" (activeTabChange)="activeTab = $event">
        @if (activeTab === 'overview') {
          <div class="text-white">
            <p class="m-0">Content for Overview tab.</p>
          </div>
        }
        @if (activeTab === 'create') {
          <app-create-tab (onOrgCreated)="onOrgCreated($event)"></app-create-tab>
        }
        @if (activeTab === 'join') {
          <app-join-tab (visibleChange)="onVisibleChange($event)"></app-join-tab>
        }
      </app-custom-tabs>
      
  
</p-dialog>