/* You can add global styles to this file, and also import other style files */
/* #3c83f6 */
@import "primeicons/primeicons.css";

:root {
    --primary-color: #3c83f6;
    --default-color: #4b5563;
    --background-color: #020611;
    --gray-default-color: #1d283a;
  }

  img {
    width: 100%;
    height: 100%;
  }